header {
    overflow: hidden;
}

header a {
    color: var(--grayishVioletColor);
}

header a:hover {
    color: var(--veryDarkVioletColor);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav section {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav section .circleButton {
    width: 90px;
}

button.menu {
    position: absolute;
    top: 11px;
    right: 1rem;
    width: 25.3px;
    height: 3px;
    background-color: var(--grayishVioletColor);
    border: none;
    color: var(--grayishVioletColor);
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    margin: 20px;
    padding:  0;
    visibility: hidden;
}

button.menu::before, button.menu::after {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--grayishVioletColor);
}

button.menu::before {
    top: 9px;
}

button.menu::after {
    top: 18px;
}

.headerSection {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 5rem;
    max-width: 80rem;
}

.headerSection article {
    width: 31rem;
    font-size: 18px;
}

.headerSection h1 {
    color: var(--veryDarkVioletColor);
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 0px;
}

.headerSection p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.headerSection img {
    position: absolute;
    right: -17rem;
}

.headerSection article a.circleButton {
    padding: 15px 35px;
}

/* layout responsive */

@media (max-width: 1116px) { /* tablets layout */
    .headerSection {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .headerSection img {
        position: relative;
        left: 0;
        max-width: 80%;
    }

    .headerSection p {
        margin-top: 20px;
    }
}

@media (max-width: 1116px) { /* tablets layout */
    .headerSection {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .headerSection img {
        position: relative;
        left: 0;
        max-width: 80%;
    }

    .headerSection p {
        margin-top: 20px;
    }
}

@media (max-width: 800px) { /* tablets layout */
    header nav section a {
        visibility: hidden;
    }
    
    header nav section img[alt="shortly logo"] {
        position: absolute;
        top: 28px;
    }

    button.menu {
        visibility: visible;
    }

    .headerSection img {
        position: relative;
        max-width: 100%;
    }
}

@media (max-width: 600px) { /* mobile layout */

    .headerSection h1 {
        font-size: 44px;
        line-height: 3rem;
        margin-top: 0;
    }

    .headerSection p {
        width: 69%;
        margin: 20px auto 40px auto;
    }

    .headerSection img {
        position: relative;
        top: -3rem;
        left: 6rem;
        max-width: 76vh;
    }
}