header {
    overflow: hidden;
}

header a {
    color: var(--grayishVioletColor);
}

header a:hover {
    color: var(--veryDarkVioletColor);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav section {
    display: flex;
    align-items: center;
    gap: 30px;
}

header nav section .circleButton {
    width: 90px;
}

button#menuContainer {
    position: absolute;
    top: 11px;
    right: 40px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
    padding:  0;
    visibility: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#menuContainer img {
    width: 100%;
    filter: invert(54%) sepia(6%) saturate(465%) hue-rotate(219deg) brightness(93%) contrast(88%);
}

#menuContent {
    display: block;
    position: absolute;
    right: -85%;
    top: 62px;
    width: 91vw;
    padding: 50px 10px;
    background-color: var(--veryDarkBlueColor);
    border-radius: 12px;
    box-shadow: 0px 5px 20px #0000008f;
    cursor: pointer;
    transition: opacity ease 0.3s, transform ease 0.3s;
    z-index: 9999;
}

#menuContent nav {
    display: flex;
    flex-direction: column;
}

#menuContent nav hr {
    width: 250px;
}

#menuContent nav a {
    color: var(--lightGrayColor);
    font-size: 17px;
    width: 250px;
    visibility: inherit;
    margin: 6px 0px;
    transition: opacity 0.3s;
}

.headerSection {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 5rem;
    max-width: 80rem;
}

.headerSection article {
    width: 31rem;
    font-size: 18px;
}

.headerSection h1 {
    color: var(--veryDarkVioletColor);
    font-size: 4rem;
    line-height: 4.4rem;
    margin-bottom: 0px;
}

.headerSection p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.headerSection img {
    position: absolute;
    right: -17rem;
}

.headerSection article a.circleButton {
    padding: 15px 35px;
}

/* layout responsive */

@media (max-width: 1116px) { /* tablets layout */
    .headerSection {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .headerSection img {
        position: relative;
        left: 0;
        max-width: 80%;
    }

    .headerSection p {
        margin-top: 20px;
    }
}

@media (max-width: 800px) { /* tablets layout */
    header nav section a {
        visibility: hidden;
    }
    
    header nav section img[alt="shortly logo"] {
        position: absolute;
        top: 28px;
    }

    button#menuContainer {
        visibility: visible;
    }

    #menuContent {
        right: -66%;
        width: 50vw;
    }

    .headerSection img {
        position: relative;
        max-width: 100%;
    }
}

@media (max-width: 600px) { /* mobile layout */

    .headerSection h1 {
        font-size: 44px;
        line-height: 3rem;
        margin-top: 0;
    }

    .headerSection p {
        width: 69%;
        margin: 20px auto 40px auto;
    }

    .headerSection img {
        position: relative;
        top: -3rem;
        left: 6rem;
        max-width: 76vh;
    }

    #menuContent {
        right: -142%;
        width: 91vw;
        padding: 50px 0px;
    }
}