@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


* {
    --defaultFont: "Poppins";

    --cyanColor: #2acfcf;
    --lightCyanColor: #80d1d1;
    --darkVioletColor: #3b3054;
    --redColor: #f46262;
    --grayColor: #eff0f5;
    --lightGrayColor: #fcfcfc;
    --grayishVioletColor: #85818d;
    --veryDarkBlueColor: #383050;
    --veryDarkVioletColor: #232127;
}

body {
    margin: 0px;
    font-family: var(--defaultFont), "Sans Serif";
}

header h1, main h1, header h2, main h2{
    color: var(--veryDarkVioletColor);
}

nav, form, footer nav, .urlList, .main, .details {
    max-width: 80rem;
    margin: auto;
}

.erroMsg {
    text-align: center;
}

.circleButton {
    background-color: var(--cyanColor);
    color: white;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.4s;
}

.circleButton:hover {
    background-color: var(--lightCyanColor);
    outline-color: var(--lightCyanColor);
    color: white;
}

.squareButton {
    background-color: var(--cyanColor);
    color: white;
    text-align: center;
    border: none;
    border-radius: 7px;
    transition: background-color 0.4s;
}

.squareButton:hover {
    background-color: var(--lightCyanColor);
    color: white;
}

.second {
    transform: translate(0px, 50px);
}

.third {
    transform: translate(0px, 100px);
}

span.buttonLoading {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    border: 3px;
    border-style: solid;
    border-top-color: var(--veryDarkVioletColor);
    border-right-color: var(--grayColor);
    border-bottom-color: var(--grayColor);
    border-left-color: var(--grayColor);
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.219);
    animation: buttonLoading;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes buttonLoading {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

p, input[type="url"] {
    color: var(--grayishVioletColor);
}

header, main, footer {
    padding: 3vw 9vw 20vw 9vw;
}

a {
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

/* main */

main {
    background-color: var(--grayColor);
}

/* form */

main form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 12px;
    background-color: var(--veryDarkBlueColor);
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(0px, -110px);
    height: 140px;
}

form input[type="url"] {
    width: 70%;
    height: 16%;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    border: none;
    border-radius: 7px;
    margin-right: 20px;
}

form button.squareButton:focus {
    outline: 3px solid var(--cyanColor);
}

form button.squareButton {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

/* section class="short" */

section.urlList {
    display: flex;
    flex-flow: column-reverse nowrap;
    transform: translate(0px, -50px);
}

div.urlContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    margin-bottom: 20px;
    background-color: var(--lightGrayColor);
    border-radius: 10px;
    box-shadow: 0px 5px 30px #5a5a5a2e;
}

div.urlContainer button {
    width: 110px;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 10px;
}

div.urlContainer div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.urlContainer div span {
    color: var(--cyanColor);
    padding-left: 30px;
}

section.urlList div.urlContainer span.userURL {
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* article."main" & section."details" */

/* article.main */

section article.main {
    text-align: center;
    width: 29rem;
    margin: auto;
}

section article.main h1 {
    font-size: 2.3rem;
    margin-bottom: 5px;
}

.reveal {
    visibility: hidden;
}

/* section.details */

section.details {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 30px;
    -webkit-gap: 30px;
}

section.details hr {
    position: absolute;
    left: 7rem;
    top: 15rem;
    width: 70%;
    height: 10px;
    border: none;
    border-radius: 7px;
    background-color: var(--cyanColor);
    transform: translateX(100px);
}

section.details article {
    position: relative;
    width: 305px;
    background-color: var(--lightGrayColor);
    border-radius: 10px;
    box-shadow: 0px 5px 30px #5a5a5a2e;
    box-sizing: border-box;
    padding: 10px 30px;
    margin-top: 5rem;
}

section.details h2 {
    margin-top: 4rem;
}

div.img {
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlueColor);
    clip-path: circle();
    -webkit-clip-path: circle();
    width: 85px;
    height: 85px;
}

div.img img {
    width: 40px;
    height: 40px;
}

/* aside */

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkBlueColor);
    background-image: url(../images/bg-boost-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--lightGrayColor);
    height: 14rem;
}

aside h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

aside a {
    font-size: 18px;
    color: var(--lightGrayColor);
}

aside button {
    opacity: 100;
    background-color: var(--lightCyanColor);
}

/* layout responsive */

@media (max-width: 1116px) { /* tablets layout */
    header, main, footer {
        padding: 3vw 5vw 20vw 5vw;
    }

    form input[type="url"] {
        width: 50%;
    }
}

@media (max-width: 800px) { /* tablets layout */
    header, main, footer {
        padding: 3vw 9vw 20vw 9vw;
    }

    form input[type="url"] {
        margin-right: 20px;
    }

    .urlList .urlContainer {
        flex-direction: column;
        gap: 5px;
        -webkit-gap: 5px;
        text-align: center;
    }

    /* section.urlList */

    .urlList .urlContainer div::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        margin: 10px 0px;
        background-color: var(--grayColor);
    }

    .urlList .urlContainer div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        -webkit-gap: 10px;
    }

    .urlContainer div button {
        width: 200px;
    }

    /* section.details */

    section.details {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
        -webkit-gap: 0;
        padding-bottom: 4rem;
    }

    section.details hr {
        position: relative;
        left: 0;
        top: 0;
        transform: rotate(90deg) translateX(37rem);
        margin: 0;
        width: 49rem;
    }

    section.details article div.img {
        position: relative;
        top: -3rem;
        margin: auto;
    }

    section.details article h2 {
        margin-top: -2rem;
    }
}

@media (max-width: 600px) { /* mobile layout */
    header, main, footer {
        padding: 10vw 9vw 40vw 9vw;
    }

    /* form */

    main form {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    form input[type="url"] {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    form button.squareButton {
        width: 100%;
    }

    /* main section.urlList */

    .urlList .urlContainer {
        text-align: left;
        align-items: flex-start;
    }

    .urlList .urlContainer div {
        align-items: flex-start;
    }

    div.urlContainer div span {
        padding: 0;
    }

    section article.main h1 {
        font-size: 27px;
    }

    section article.main {
        width: 100%;
    }

    div.urlContainer div {
        width: 100%;
    }

    div.urlContainer button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }

    /* aside */

    aside h1 {
        font-size: 27px;
    }
}